.DS_Store
ANN in C++/.DS_Store
Supervised Deep Learning in Python/Artificial Neural Networks (ANN)/.DS_Store
ANN in C++/ANN in C++.xcodeproj/project.xcworkspace/xcuserdata/vmueller.xcuserdatad/UserInterfaceState.xcuserstate
